.navbar .brand {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
    margin-left: 20px;
    margin-right: 20px;
    float: left;
}

.navbar .brand img {
    height: 30px;
}

.navbar .brand span {
    line-height: 35px;
}

.sidebar-nav {
    padding: 8px 0;
}

/* Just alias page-header */

.page-title {
    padding-bottom: 17px;
    margin: 18px 0;
    border-bottom: 1px solid #EEE;
}

.validation-advice {
    clear: both;
    margin: 5px 0 0;
    color: #B94A48;
}

.validation-advice:before {
    content: "* ";
}